npm install express

npm install typeorm

npm install pg

npm install reflect-metadata

npm install jsonwebtoken

npm install bcrypt

npm install multer

npm install typescript

npm install ts-node-dev

npm install @types/express

npm install @types/jsonwebtoken

npm install @types/bcrypt

npm install @types/multer
